@import "../omarchy/current/theme/waybar.css";

window#waybar {
  background-color: transparent;

  font-family: "RobotoMono Nerd Font";
  font-size: 13px;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @background;
  color: @foreground;
  border-radius: 15px;
  padding: 0 8px;
  margin: 5px 5px 0px;
}

#workspaces button {
  padding: 0 1px;
  min-width: 14px;
}

.modules-right .module {
  min-width: 24px;
}

tooltip {
  padding: 2px;
}

#tray menu {
  background-color: @background;
  color: @foreground;
}

#tray menu menuitem:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
