[submodule "zsh-syntax-highlighting"]
	path = stow/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-syntax-highlighting-catppuccin"]
	path = stow/.config/zsh/plugins/zsh-syntax-highlighting-catppuccin
	url = https://github.com/catppuccin/zsh-syntax-highlighting.git
[submodule "fzf-tab"]
	path = stow/.config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "zsh-autosuggestions"]
	path = stow/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-autocomplete"]
	path = stow/.config/zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "nvm"]
	path = stow/.config/nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "tpm"]
	path = stow/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
