[submodule ".config/zsh/plugins/fast-syntax-highlighting"]
	path = .config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule ".config/zsh/plugins/fzf-tab"]
	path = .config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule ".config/zsh/plugins/pure"]
	path = .config/zsh/plugins/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/plugins/zsh-autocomplete"]
	path = .config/zsh/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule ".config/nvm"]
	path = .config/nvm
	url = https://github.com/nvm-sh/nvm.git
